<html ng-app="apiApp">
	<body ng-controller="mainController">

		<div ng-repeat="starship in starships">
			{{starship.name}}, {{starship.model}}
			<ul ng-repeat="pilot in starship.pilots">
				<li>Name: {{pilot.name}}</li>
				<li>Species: {{pilot.species.name}}</li>
			</ul>
		</div>

				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
